/*Background Image*/

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("images/Seattle Portrait.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

/*Navigation Bar*/

#top-bar {
  position: fixed;
  height: auto;
  width: 100%;
  background-color: rgba(112, 112, 112, 0.8);
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  z-index: 2;
}

#contact-me {
  margin-right: 1%; 
}

.nav:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.inactive:after {
  display: block;
  content: '';
  border-bottom: solid 3px #50b6cf;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out; 
}

.inactive:hover:after { 
  transform: scaleX(1); 
}

.nav {
  float: right;
  display: inline-block;
  padding: 5px;
}

.current-page:after {
  display: block;
  content: '';
  transform: scaleX(1);
  border-bottom: solid 3px #50b6cf;  
}

.link {
  text-decoration: none;
  color: #e0e0e0;
}

.doc-link {
  text-decoration: none;
  color: #50b6cf;
  padding: 1px 5px 1px 5px;
  border-radius: 3px;
  transition-duration: 250ms;
  height: auto;
  width: auto;
  background-color: #fff;
}

.doc-link:hover {
  transition-duration: 250ms;
  color: #fff;
  background-color: #50b6cf;
}

#logo {
  height: 30px;
  width: auto;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

#name {
  font-size: 25px;
  float: left;
  font-weight: 100;
}

.fa {
  color: #e0e0e0;
}

a.hamburger {
  display: none;
  margin: 0px 10px;
}

@media screen and (max-width: 875px) {
  .top-bar a:not(:first-child) {display: none;}
  #top-bar a.hamburger {
    float: right;
    display: block;
  }
  
  #name {
    display: block;
  }
  
  div.foreground div.imagecontainer div.img {
    display: block;
    margin: auto;
    width: 90%;
  }
  
  div.foreground div.imagecontainer div.blurb {
    display: block;
    float: none;
    margin: auto;
    margin-bottom: 1em;
    width: 80%;
  } 
  
  div.foreground {
    left: -1vw; 
  }
  
  #resume.link {
    height: 103vw;
    width: 80vw;
  }
  
  div.imagecontainer div.img img {
    width: 90%; 
  }
  
  div.project-container div.img img {
    width: 90%; 
  }
}

@media screen and (max-width: 875px) {
  #top-bar.responsive {position: fixed;}

  #top-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #top-bar.responsive #name {
    display: block;
    float: none;
  }
  
  #top-bar.responsive a.hamburger {
    float: right;
    position: relative;
    top: -31px;
  }
}

/* Title Text */

#front-heading, #front-caption {
  position: relative;
  display: block;
  margin: auto;
  top: 40vh;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#front-heading {
  font-size: 400%;
}

#front-caption {
  font-size: 200%;
}

h2.home, p.home {
  position: relative;
  color: #fff;
  margin: auto;
  font-family: "Roboto", sans-serif;
  top: 30vh;
  text-align: center;
}

h2.home {
  font-size: 400%;
}

p.home {
  font-size: 200%;
}

/* Main body of website */

div.foreground {
  position: relative;
  top: 35vh;
  display: block;
  height: auto;
  width: 90%;
  background-color: rgba(80, 182, 207, 0.7);
  margin: auto;
  padding: 1em 2em 1em 2em;
  justify-content: center;
  text-align: center;
  border-radius: 1em;
}

div.intro {
  display: block;
  color: #eee;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  margin-bottom: 1em;
}

div.intro a {
  color: #aaa;
  text-decoration: none;
}

div.intro a:hover {
  text-decoration: underline;
}

div.imagecontainer {
  display: block;
  height: auto;
  width: 100%;
}

div.img {
  display: inline-block;
  width: 25vw;
  min-width: 200px;
  height: auto;
  margin: 1em;
}

div.imagecontainer div.img img {
  width: 25vw;
  height: auto;
  display: block;
  border: 1vw solid #fff;
  margin-bottom: 3em;
  background-color: rgba(255, 255, 255, 0.3);
}

div.foreground div.misc-img img {
  width: 40vw;
  height: auto;
  display: inline-block;
  border: 1vw solid #fff;
  margin-bottom: 3em;
  background-color: rgba(255, 255, 255, 0.3); 
}

.image {
  height: 100%;
  width: 100%;
  border: 1vw solid #fff;
}

div.blurb {
  display: inline-block;
  height: 100%;
  width: 50vw;
  float: right;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: -1vw 1vw #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: #fff;
  margin: 1em;
  text-align: left;
}

div.socials {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
}

div.socials div {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  text-align: center;
}

div.socials div a {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  transition-duration: 250ms;
}

div.socials div a:hover {
  transform: scale(1.1);
  transition-duration: 250ms;
}

/* Resume */

#resume {
  position: relative;
  top: 0;
  display: block;
  margin: auto;
  height: 115vh;
  width: 100%;
}

#resume-download {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 10em;
  padding: 10px;
  border-radius: 3px;
  background-color: #50b6cf;
  transition-duration: 250ms;
}

#resume-download:hover {
  transition-duration: 250ms;
  transform: scale(1.1); 
}

#resume-download a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/* Game Canvas */

canvas {
 background-color: #eee;
 display: block;
 margin: 0 auto;
}

/* Desmos */

div.foreground-desmos {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
  position: relative;
  top: 35vh;
  height: auto;
  width: 90%;
  background-color: rgba(80, 182, 207, 0.7);
  margin: auto;
  padding: 1em 2em 1em 2em;
  border-radius: 1em;
}

iframe.desmos {
  position: relative;
  width: 44vw;
  height: 44vw;
}

@media screen and (max-width: 1150px) {
  div.foreground-desmos {
    grid-template-columns: 100%;
  } 
  
  iframe.desmos {
    width: 90vw; 
    height: 90vw;
  }
}

/* Projects */

div.project-container {
  position: relative;
  top: 30vh;
  display: block;
  margin: auto;
  margin-top: 5vh;
  width: 90vw;
  height: auto;
  transition-duration: 500ms;
  background-color: rgba(80, 182, 207, 0.7);
  border-radius: 5px;
  text-align: center;
}

div.project-container:hover {
  transition-duration: 500ms;
  transform: scale(1.05);
}

div.project-container div.img img {
  width: 25vw;
  height: auto;
  display: block;
  border: 1vw solid #fff;
  margin-bottom: 3em;
}

.project-title {
  display: block;
  padding: 1vh;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 1150px) {
  div.project-container div.img img{
    width: 60vw;
  }
  
  div.project-container div.img {
    margin-right: 45%;
  }

  div.project-container div.blurb {
    display: none;
  }

  div.img {
    min-width: 0px;
  }
}
/* Misc. */

::selection {
  color: white;
  background: #50b6cf;
}

body::-webkit-scrollbar {
  display: none; /* Chrome and Safari */
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#bungee {
  font-family: 'Bungee', 'Roboto', sans-serif; 
  font-size: small;
  padding-top: 0;
  padding-bottom: 0;
}
